
CREATE TABLE [dbo].[Addresses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Street] [nvarchar](50) NULL,
	[PostalCode] [nvarchar](10) NULL,
	[FKCountry_Id] [int] NULL,
	[FkProvince_Id] [int] NULL,
	[City] [nvarchar](50) NULL,
 CONSTRAINT [PK_Addresses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdFavorites]    Script Date: 12/26/2018 7:50:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdFavorites](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[FkUser_Id] [int] NULL,
	[FKAd_Id] [int] NOT NULL,
 CONSTRAINT [PK_AdFavorites] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ads]    Script Date: 12/26/2018 7:50:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ads](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[StartDateTime] [datetime] NULL,
	[EndDateTime] [datetime] NULL,
	[Price] [decimal](8, 2) NOT NULL,
	[IsTop] [bit] NOT NULL,
	[IsApprove] [bit] NOT NULL,
	[FkSubCategory_Id] [int] NULL,
	[FkCategory_Id] [int] NOT NULL,
	[FkAlbum_Id] [int] NOT NULL,
	[FkLog_Id] [int] NOT NULL,
	[FkUser_Id] [int] NOT NULL,
	[FkLocation_Id] [int] NOT NULL,
	[PhoneNumber] [nvarchar](50) NOT NULL,
	[IsAllowMessaging] [bit] NOT NULL,
	[IsPostWithOutPhoneNumber] [bit] NOT NULL,
	[IsAutoPost] [bit] NOT NULL,
	[CountAutoPostToNow] [int] NOT NULL,
 CONSTRAINT [PK_Ads] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdsSlider]    Script Date: 12/26/2018 7:50:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdsSlider](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ViewerCount] [int] NOT NULL,
	[FkFile_Id] [int] NOT NULL,
	[FkLog_Id] [int] NOT NULL,
	[FkPositionType_Id] [int] NOT NULL,
 CONSTRAINT [PK_AdsSlider] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlbumFiles]    Script Date: 12/26/2018 7:50:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlbumFiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FkAlbum_Id] [int] NOT NULL,
	[FkFile_Id] [int] NOT NULL,
 CONSTRAINT [PK_AlbumFiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Albums]    Script Date: 12/26/2018 7:50:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Albums](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Notes] [nvarchar](50) NULL,
 CONSTRAINT [PK_Albums] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppsInformation]    Script Date: 12/26/2018 7:50:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppsInformation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResourceName] [nvarchar](50) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
	[FkLog_Id] [int] NOT NULL,
 CONSTRAINT [PK_AppInformation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 12/26/2018 7:50:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameAr] [nvarchar](50) NOT NULL,
	[NameEn] [nvarchar](50) NOT NULL,
	[FkLog_Id] [int] NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 12/26/2018 7:50:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameAr] [nvarchar](50) NOT NULL,
	[NameEn] [nvarchar](50) NOT NULL,
	[FkLog_Id] [int] NOT NULL,
	[CountryKey] [nvarchar](50) NOT NULL,
	[FkFile_Id] [int] NOT NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Files]    Script Date: 12/26/2018 7:50:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Files](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileUrl] [nvarchar](150) NOT NULL,
	[FKAppInformation_Id] [int] NOT NULL,
	[FkFileType_Id] [int] NOT NULL,
 CONSTRAINT [PK_Images] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FileTypes]    Script Date: 12/26/2018 7:50:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResourceName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_FileTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Following]    Script Date: 12/26/2018 7:50:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Following](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Notes] [nvarchar](50) NULL,
 CONSTRAINT [PK_UsersFollowing] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genders]    Script Date: 12/26/2018 7:50:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResourceName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Genders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Histories]    Script Date: 12/26/2018 7:50:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Histories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[RedirectUrl] [nvarchar](500) NULL,
	[FkState_Id] [int] NOT NULL,
	[FkUser_Id] [int] NOT NULL,
	[FKPage_Id] [int] NOT NULL,
	[FkLog_Id] [int] NULL,
	[TitleEn] [nvarchar](250) NOT NULL,
	[TitleAr] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Histories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoryDetails]    Script Date: 12/26/2018 7:50:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ColumResourceName] [nvarchar](50) NOT NULL,
	[ColumOldContent] [nvarchar](max) NULL,
	[ColumNewContent] [nvarchar](max) NULL,
	[FkHistory_Id] [int] NOT NULL,
	[CoulmIsSingl] [bit] NOT NULL,
	[CoulmIsEn] [bit] NOT NULL,
 CONSTRAINT [PK_HistoryDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jobs]    Script Date: 12/26/2018 7:50:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameAr] [nvarchar](50) NOT NULL,
	[NameEn] [nvarchar](50) NOT NULL,
	[FkLog_Id] [int] NOT NULL,
 CONSTRAINT [PK_Jobs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Languages]    Script Date: 12/26/2018 7:50:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Languages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Notes] [nvarchar](50) NULL,
 CONSTRAINT [PK_Languages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LanguageTypes]    Script Date: 12/26/2018 7:50:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LanguageTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResourceName] [nvarchar](50) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LanguageTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LanguageUsing]    Script Date: 12/26/2018 7:50:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LanguageUsing](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[FKLanguageType_Id] [int] NOT NULL,
	[FKLanguage_Id] [int] NOT NULL,
 CONSTRAINT [PK_LanguageUsing] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Location]    Script Date: 12/26/2018 7:50:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Longitude] [nvarchar](50) NOT NULL,
	[Latitude] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 12/26/2018 7:50:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreateDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Logs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 12/26/2018 7:50:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderNumber] [int] NOT NULL,
	[ClassIcon] [nvarchar](50) NOT NULL,
	[ResourceName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nationalities]    Script Date: 12/26/2018 7:50:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nationalities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameAr] [nvarchar](50) NOT NULL,
	[NameEn] [nvarchar](50) NOT NULL,
	[FkLog_Id] [int] NOT NULL,
 CONSTRAINT [PK_Nationalities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationsIsRead]    Script Date: 12/26/2018 7:50:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationsIsRead](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FkHistory_Id] [int] NOT NULL,
	[FKUser_Id] [int] NOT NULL,
 CONSTRAINT [PK_NotificationsIsRead] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OfferFavorites]    Script Date: 12/26/2018 7:50:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OfferFavorites](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[FkUser_Id] [int] NOT NULL,
	[FKOffer_Id] [int] NOT NULL,
 CONSTRAINT [PK_OfferFavorites] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Offers]    Script Date: 12/26/2018 7:50:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Offers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[StartDateTime] [datetime] NOT NULL,
	[EndDateTime] [datetime] NOT NULL,
	[Price] [decimal](8, 2) NOT NULL,
	[IsTop] [bit] NOT NULL,
	[FkAlbum_Id] [int] NOT NULL,
	[FkLog_Id] [int] NOT NULL,
	[DiscountRate] [int] NOT NULL,
	[SmallDiscription] [nvarchar](200) NOT NULL,
	[FkCategory_Id] [int] NOT NULL,
	[FkSubCategory_Id] [int] NOT NULL,
 CONSTRAINT [PK_Offers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pages]    Script Date: 12/26/2018 7:50:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResourceName] [nvarchar](50) NOT NULL,
	[IsControlPanel] [bit] NOT NULL,
	[IsFronEnd] [bit] NOT NULL,
	[Url] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Pages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PagesAllow]    Script Date: 12/26/2018 7:50:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PagesAllow](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsAllowNotify] [bit] NOT NULL,
	[IsAllowLog] [bit] NOT NULL,
	[FkLog_Id] [int] NOT NULL,
	[FkPage_Id] [int] NOT NULL,
 CONSTRAINT [PK_PagesAllow] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PagesRoles]    Script Date: 12/26/2018 7:50:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PagesRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsDisplay] [bit] NOT NULL,
	[IsCreate] [bit] NOT NULL,
	[IsUpdate] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[FkPage_Id] [int] NOT NULL,
	[FkRole_Id] [int] NOT NULL,
	[FkPageRoleTypes_Id] [int] NOT NULL,
	[FkLog_Id] [int] NOT NULL,
 CONSTRAINT [PK_PagesRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PagesRoleTypes]    Script Date: 12/26/2018 7:50:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PagesRoleTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResourceName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PagesRoleTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhoneNumbers]    Script Date: 12/26/2018 7:50:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhoneNumbers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Number] [nvarchar](12) NOT NULL,
	[FKPhone_Id] [int] NOT NULL,
	[FkPhoneType_Id] [int] NOT NULL,
 CONSTRAINT [PK_PhoneNumbers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phones]    Script Date: 12/26/2018 7:50:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Notes] [nvarchar](50) NULL,
 CONSTRAINT [PK_Phones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhoneTypes]    Script Date: 12/26/2018 7:50:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhoneTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResourceName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PhoneTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PositionTypes]    Script Date: 12/26/2018 7:50:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PositionTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResourceName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PositionTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provinces]    Script Date: 12/26/2018 7:50:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provinces](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameAr] [nvarchar](50) NOT NULL,
	[NameEn] [nvarchar](50) NOT NULL,
	[FKCountry_Id] [int] NOT NULL,
	[FkLog_Id] [int] NOT NULL,
 CONSTRAINT [PK_Provinces] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 12/26/2018 7:50:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResourceName] [nvarchar](50) NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[IsControlPanel] [bit] NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SocialStatus]    Script Date: 12/26/2018 7:50:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SocialStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResourceName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SocialStatuses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[States]    Script Date: 12/26/2018 7:50:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[States](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResourceName] [nvarchar](50) NOT NULL,
	[CssClassStyle] [nvarchar](50) NOT NULL,
	[CssClassIcon] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_States] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubCategories]    Script Date: 12/26/2018 7:50:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameAr] [nvarchar](50) NOT NULL,
	[NameEn] [nvarchar](50) NOT NULL,
	[FkLog_Id] [int] NOT NULL,
	[FkCategory_Id] [int] NOT NULL,
	[FkFile_Id] [int] NOT NULL,
 CONSTRAINT [PK_SubCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubMenus]    Script Date: 12/26/2018 7:50:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubMenus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderNumber] [int] NOT NULL,
	[ClassIcon] [nvarchar](50) NOT NULL,
	[FkMenu_Id] [int] NOT NULL,
	[FKPage_Id] [int] NOT NULL,
 CONSTRAINT [PK_SubMenu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TechnicalSupport]    Script Date: 12/26/2018 7:50:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TechnicalSupport](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](12) NOT NULL,
	[Message] [nvarchar](500) NOT NULL,
	[CreateDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_TechnicalSupport] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TechnicalSupportRead]    Script Date: 12/26/2018 7:50:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TechnicalSupportRead](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FkTechnicalSupport_Id] [int] NOT NULL,
	[FkUser_Id] [int] NOT NULL,
 CONSTRAINT [PK_TechnicalSupportRead] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInformation]    Script Date: 12/26/2018 7:50:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInformation](
	[Id] [int] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MediumName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[NationalId] [nvarchar](50) NULL,
	[BirthDate] [date] NULL,
	[FkImage_Id] [int] NOT NULL,
	[FKAddress_Id] [int] NULL,
	[FkNationality_Id] [int] NULL,
	[FKGender_Id] [int] NULL,
	[FKSocialStatus_Id] [int] NULL,
	[FKJob_Id] [int] NULL,
	[FKLanguage_Id] [int] NULL,
	[FkPhone_Id] [int] NULL,
	[FkFollowing_Id] [int] NOT NULL,
 CONSTRAINT [PK_UserInformation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLogins]    Script Date: 12/26/2018 7:50:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLogins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LoginDate] [datetime] NOT NULL,
	[IsSuccess] [bit] NOT NULL,
	[FkUser_Id] [int] NOT NULL,
 CONSTRAINT [PK_UserLogins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 12/26/2018 7:50:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FkUser_Id] [int] NOT NULL,
	[FkRole_Id] [int] NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/26/2018 7:50:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[IsBlocked] [bit] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[Serial] [nvarchar](300) NOT NULL,
	[FkLog_Id] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersFollowing]    Script Date: 12/26/2018 7:50:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersFollowing](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FkUser_Id] [int] NOT NULL,
	[FkFollowing_Id] [int] NOT NULL,
 CONSTRAINT [PK_Followers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersPurchasesAds]    Script Date: 12/26/2018 7:50:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersPurchasesAds](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FkUser_Id] [int] NOT NULL,
	[FkAd_Id] [int] NOT NULL,
	[AdPrice] [decimal](18, 2) NOT NULL,
	[BayDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_UsersPurchases] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersPurchasesOffers]    Script Date: 12/26/2018 7:50:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersPurchasesOffers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FkUser_Id] [int] NOT NULL,
	[FkOffer_Id] [int] NOT NULL,
	[OfferPrice] [decimal](18, 2) NOT NULL,
	[OfferDiscountRate] [int] NOT NULL,
	[OfferNetPrice] [decimal](18, 2) NOT NULL,
	[BayDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_UsersPurchasesOffers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ViewerAds]    Script Date: 12/26/2018 7:50:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ViewerAds](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CountViewer] [bigint] NOT NULL,
	[FkUser_Id] [int] NULL,
	[FKAd_Id] [int] NOT NULL,
 CONSTRAINT [PK_AdViewer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ViewerOffers]    Script Date: 12/26/2018 7:50:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ViewerOffers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CountViewer] [bigint] NOT NULL,
	[FkUser_Id] [int] NULL,
	[FKOffer_Id] [int] NOT NULL,
 CONSTRAINT [PK_ViewerOffers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Addresses] ON 
GO
INSERT [dbo].[Addresses] ([Id], [Street], [PostalCode], [FKCountry_Id], [FkProvince_Id], [City]) VALUES (1, NULL, N'12', 1, 19, NULL)
GO
INSERT [dbo].[Addresses] ([Id], [Street], [PostalCode], [FKCountry_Id], [FkProvince_Id], [City]) VALUES (2, NULL, N'645', 1, 1, NULL)
GO
INSERT [dbo].[Addresses] ([Id], [Street], [PostalCode], [FKCountry_Id], [FkProvince_Id], [City]) VALUES (3, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Addresses] OFF
GO
SET IDENTITY_INSERT [dbo].[Ads] ON 
GO
INSERT [dbo].[Ads] ([Id], [Title], [Description], [StartDateTime], [EndDateTime], [Price], [IsTop], [IsApprove], [FkSubCategory_Id], [FkCategory_Id], [FkAlbum_Id], [FkLog_Id], [FkUser_Id], [FkLocation_Id], [PhoneNumber], [IsAllowMessaging], [IsPostWithOutPhoneNumber], [IsAutoPost], [CountAutoPostToNow]) VALUES (7, N'NNNN', N'NNNN', CAST(N'2017-12-19T22:34:08.000' AS DateTime), CAST(N'2020-12-20T22:34:09.000' AS DateTime), CAST(57.00 AS Decimal(8, 2)), 1, 1, 3, 4, 1024, 1276, 1, 3, N'010252', 1, 1, 1, 0)
GO
INSERT [dbo].[Ads] ([Id], [Title], [Description], [StartDateTime], [EndDateTime], [Price], [IsTop], [IsApprove], [FkSubCategory_Id], [FkCategory_Id], [FkAlbum_Id], [FkLog_Id], [FkUser_Id], [FkLocation_Id], [PhoneNumber], [IsAllowMessaging], [IsPostWithOutPhoneNumber], [IsAutoPost], [CountAutoPostToNow]) VALUES (8, N'vb', N'erfgh', CAST(N'2019-01-01T01:00:00.000' AS DateTime), CAST(N'2020-01-01T00:00:00.000' AS DateTime), CAST(55.00 AS Decimal(8, 2)), 0, 0, 3, 4, 1028, 1288, 1, 4, N'010', 0, 0, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[Ads] OFF
GO
SET IDENTITY_INSERT [dbo].[AlbumFiles] ON 
GO
INSERT [dbo].[AlbumFiles] ([Id], [FkAlbum_Id], [FkFile_Id]) VALUES (1, 1, 1)
GO
INSERT [dbo].[AlbumFiles] ([Id], [FkAlbum_Id], [FkFile_Id]) VALUES (11, 4, 12)
GO
INSERT [dbo].[AlbumFiles] ([Id], [FkAlbum_Id], [FkFile_Id]) VALUES (12, 4, 13)
GO
SET IDENTITY_INSERT [dbo].[AlbumFiles] OFF
GO
SET IDENTITY_INSERT [dbo].[Albums] ON 
GO
INSERT [dbo].[Albums] ([Id], [Notes]) VALUES (1, NULL)
GO
INSERT [dbo].[Albums] ([Id], [Notes]) VALUES (4, NULL)
GO
INSERT [dbo].[Albums] ([Id], [Notes]) VALUES (5, NULL)
GO
SET IDENTITY_INSERT [dbo].[Albums] OFF
GO
SET IDENTITY_INSERT [dbo].[AppsInformation] ON 
GO
INSERT [dbo].[AppsInformation] ([Id], [ResourceName], [Value], [FkLog_Id]) VALUES (1, N'ControllPanelLink', N'http://localhost:53913/', 259)
GO
INSERT [dbo].[AppsInformation] ([Id], [ResourceName], [Value], [FkLog_Id]) VALUES (2, N'Api', N'http://localhost:50353/', 260)
GO
SET IDENTITY_INSERT [dbo].[AppsInformation] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 
GO
INSERT [dbo].[Categories] ([Id], [NameAr], [NameEn], [FkLog_Id]) VALUES (1, N'ملابس', N'Clothes', 203)
GO
INSERT [dbo].[Categories] ([Id], [NameAr], [NameEn], [FkLog_Id]) VALUES (3, N'عقارات', N'Real estate', 205)
GO
INSERT [dbo].[Categories] ([Id], [NameAr], [NameEn], [FkLog_Id]) VALUES (4, N'مركبات', N'Vehicles', 218)
GO
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 
GO
INSERT [dbo].[Countries] ([Id], [NameAr], [NameEn], [FkLog_Id], [CountryKey], [FkFile_Id]) VALUES (1, N'sd', N'sd5', 1, N'21', 88)
GO
INSERT [dbo].[Countries] ([Id], [NameAr], [NameEn], [FkLog_Id], [CountryKey], [FkFile_Id]) VALUES (2, N'الكوست', N'Kwit', 31, N'23', 89)
GO
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[Files] ON 
GO
INSERT [dbo].[Files] ([Id], [FileUrl], [FKAppInformation_Id], [FkFileType_Id]) VALUES (1, N'/Files/Images/Users/Profile/team3.jpg1345323910.jpg', 1, 1)
GO
INSERT [dbo].[Files] ([Id], [FileUrl], [FKAppInformation_Id], [FkFileType_Id]) VALUES (2, N'/Files/Images/Users/Profile/2013-04-20-056.jpg1710883803.jpg', 1, 1)
GO
INSERT [dbo].[Files] ([Id], [FileUrl], [FKAppInformation_Id], [FkFileType_Id]) VALUES (3, N'/Files/Images/Products12.jpg133553739.jpg', 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Files] OFF
GO
SET IDENTITY_INSERT [dbo].[FileTypes] ON 
GO
INSERT [dbo].[FileTypes] ([Id], [ResourceName]) VALUES (1, N'Image')
GO
INSERT [dbo].[FileTypes] ([Id], [ResourceName]) VALUES (2, N'Text')
GO
INSERT [dbo].[FileTypes] ([Id], [ResourceName]) VALUES (3, N'Audio')
GO
SET IDENTITY_INSERT [dbo].[FileTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Following] ON 
GO
INSERT [dbo].[Following] ([Id], [Notes]) VALUES (1, N'1')
GO
INSERT [dbo].[Following] ([Id], [Notes]) VALUES (2, N'2')
GO
INSERT [dbo].[Following] ([Id], [Notes]) VALUES (3, N'3')
GO
SET IDENTITY_INSERT [dbo].[Following] OFF
GO
SET IDENTITY_INSERT [dbo].[Genders] ON 
GO
INSERT [dbo].[Genders] ([Id], [ResourceName]) VALUES (1, N'Male')
GO
INSERT [dbo].[Genders] ([Id], [ResourceName]) VALUES (2, N'Female')
GO
SET IDENTITY_INSERT [dbo].[Genders] OFF
GO
SET IDENTITY_INSERT [dbo].[Histories] ON 
GO
INSERT [dbo].[Histories] ([Id], [DateTime], [RedirectUrl], [FkState_Id], [FkUser_Id], [FKPage_Id], [FkLog_Id], [TitleEn], [TitleAr]) VALUES (62, CAST(N'2018-08-29T21:43:30.787' AS DateTime), NULL, 2, 1, 1, 29, N'Test', N'تجربة')
GO
INSERT [dbo].[Histories] ([Id], [DateTime], [RedirectUrl], [FkState_Id], [FkUser_Id], [FKPage_Id], [FkLog_Id], [TitleEn], [TitleAr]) VALUES (63, CAST(N'2018-08-29T21:45:43.793' AS DateTime), NULL, 2, 1, 1, 29, N'Test', N'تجربة')
GO
INSERT [dbo].[Histories] ([Id], [DateTime], [RedirectUrl], [FkState_Id], [FkUser_Id], [FKPage_Id], [FkLog_Id], [TitleEn], [TitleAr]) VALUES (111, CAST(N'2018-09-16T00:16:26.573' AS DateTime), NULL, 1, 1, 19, 203, N'Test', N'تجربة')
GO
SET IDENTITY_INSERT [dbo].[Histories] OFF
GO
SET IDENTITY_INSERT [dbo].[HistoryDetails] ON 
GO
INSERT [dbo].[HistoryDetails] ([Id], [ColumResourceName], [ColumOldContent], [ColumNewContent], [FkHistory_Id], [CoulmIsSingl], [CoulmIsEn]) VALUES (219, N'NameAr', NULL, N'sd', 111, 0, 0)
GO
INSERT [dbo].[HistoryDetails] ([Id], [ColumResourceName], [ColumOldContent], [ColumNewContent], [FkHistory_Id], [CoulmIsSingl], [CoulmIsEn]) VALUES (220, N'NameEn', NULL, N'sd', 111, 0, 1)
GO
INSERT [dbo].[HistoryDetails] ([Id], [ColumResourceName], [ColumOldContent], [ColumNewContent], [FkHistory_Id], [CoulmIsSingl], [CoulmIsEn]) VALUES (221, N'NameAr', N'sd', N'مصر', 112, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[HistoryDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Jobs] ON 
GO
INSERT [dbo].[Jobs] ([Id], [NameAr], [NameEn], [FkLog_Id]) VALUES (1, N'مطور', N'Developer', 4)
GO
INSERT [dbo].[Jobs] ([Id], [NameAr], [NameEn], [FkLog_Id]) VALUES (4, N'محاسب', N'Account', 35)
GO
SET IDENTITY_INSERT [dbo].[Jobs] OFF
GO
SET IDENTITY_INSERT [dbo].[Languages] ON 
GO
INSERT [dbo].[Languages] ([Id], [Notes]) VALUES (1, N'')
GO
INSERT [dbo].[Languages] ([Id], [Notes]) VALUES (2, NULL)
GO
INSERT [dbo].[Languages] ([Id], [Notes]) VALUES (3, NULL)
GO
SET IDENTITY_INSERT [dbo].[Languages] OFF
GO
SET IDENTITY_INSERT [dbo].[LanguageTypes] ON 
GO
INSERT [dbo].[LanguageTypes] ([Id], [ResourceName], [Code]) VALUES (1, N'Arabic', N'ar')
GO
INSERT [dbo].[LanguageTypes] ([Id], [ResourceName], [Code]) VALUES (2, N'English', N'en')
GO
SET IDENTITY_INSERT [dbo].[LanguageTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[LanguageUsing] ON 
GO
INSERT [dbo].[LanguageUsing] ([Id], [IsDefault], [FKLanguageType_Id], [FKLanguage_Id]) VALUES (1, 1, 2, 1)
GO
INSERT [dbo].[LanguageUsing] ([Id], [IsDefault], [FKLanguageType_Id], [FKLanguage_Id]) VALUES (3, 0, 1, 1)
GO
INSERT [dbo].[LanguageUsing] ([Id], [IsDefault], [FKLanguageType_Id], [FKLanguage_Id]) VALUES (4, 1, 2, 2)
GO
SET IDENTITY_INSERT [dbo].[LanguageUsing] OFF
GO
SET IDENTITY_INSERT [dbo].[Location] ON 
GO
INSERT [dbo].[Location] ([Id], [Longitude], [Latitude]) VALUES (1, N'h', N'k')
GO
INSERT [dbo].[Location] ([Id], [Longitude], [Latitude]) VALUES (2, N'23654', N'8571')
GO
INSERT [dbo].[Location] ([Id], [Longitude], [Latitude]) VALUES (3, N'4545', N'8845')
GO
SET IDENTITY_INSERT [dbo].[Location] OFF
GO
SET IDENTITY_INSERT [dbo].[Logs] ON 
GO
INSERT [dbo].[Logs] ([Id], [CreateDateTime]) VALUES (1, CAST(N'2018-10-15T04:57:52.483' AS DateTime))
GO
INSERT [dbo].[Logs] ([Id], [CreateDateTime]) VALUES (2, CAST(N'2018-10-15T04:57:52.483' AS DateTime))
GO
INSERT [dbo].[Logs] ([Id], [CreateDateTime]) VALUES (4, CAST(N'2018-10-15T04:57:52.483' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Logs] OFF
GO
SET IDENTITY_INSERT [dbo].[Menus] ON 
GO
INSERT [dbo].[Menus] ([Id], [OrderNumber], [ClassIcon], [ResourceName]) VALUES (1, 1, N'far fa-hand-point-right', N'Setting')
GO
INSERT [dbo].[Menus] ([Id], [OrderNumber], [ClassIcon], [ResourceName]) VALUES (2, 3, N'far fa-hand-point-right', N'Users')
GO
INSERT [dbo].[Menus] ([Id], [OrderNumber], [ClassIcon], [ResourceName]) VALUES (7, 4, N'far fa-hand-point-right', N'TechnicalSupport')
GO
SET IDENTITY_INSERT [dbo].[Menus] OFF
GO
SET IDENTITY_INSERT [dbo].[Nationalities] ON 
GO
INSERT [dbo].[Nationalities] ([Id], [NameAr], [NameEn], [FkLog_Id]) VALUES (1, N'مصرى', N'Egeiption', 5)
GO
INSERT [dbo].[Nationalities] ([Id], [NameAr], [NameEn], [FkLog_Id]) VALUES (2, N'سعودى', N'Saudi', 96)
GO
INSERT [dbo].[Nationalities] ([Id], [NameAr], [NameEn], [FkLog_Id]) VALUES (3, N'كويتى', N'Kuwaiti', 97)
GO
SET IDENTITY_INSERT [dbo].[Nationalities] OFF
GO
SET IDENTITY_INSERT [dbo].[NotificationsIsRead] ON 
GO
INSERT [dbo].[NotificationsIsRead] ([Id], [FkHistory_Id], [FKUser_Id]) VALUES (18, 135, 1)
GO
INSERT [dbo].[NotificationsIsRead] ([Id], [FkHistory_Id], [FKUser_Id]) VALUES (19, 140, 1)
GO
INSERT [dbo].[NotificationsIsRead] ([Id], [FkHistory_Id], [FKUser_Id]) VALUES (20, 139, 1)
GO
SET IDENTITY_INSERT [dbo].[NotificationsIsRead] OFF
GO
SET IDENTITY_INSERT [dbo].[Offers] ON 
GO
INSERT [dbo].[Offers] ([Id], [Title], [Description], [StartDateTime], [EndDateTime], [Price], [IsTop], [FkAlbum_Id], [FkLog_Id], [DiscountRate], [SmallDiscription], [FkCategory_Id], [FkSubCategory_Id]) VALUES (1007, N'njkl', N'nj', CAST(N'2018-12-20T03:16:00.000' AS DateTime), CAST(N'2018-12-20T05:16:00.000' AS DateTime), CAST(55.00 AS Decimal(8, 2)), 1, 1026, 1278, 1, N'njkl', 4, 3)
GO
INSERT [dbo].[Offers] ([Id], [Title], [Description], [StartDateTime], [EndDateTime], [Price], [IsTop], [FkAlbum_Id], [FkLog_Id], [DiscountRate], [SmallDiscription], [FkCategory_Id], [FkSubCategory_Id]) VALUES (1008, N'hjkl', N'hjkl', CAST(N'2018-12-20T03:23:00.000' AS DateTime), CAST(N'2018-12-20T05:23:00.000' AS DateTime), CAST(5.00 AS Decimal(8, 2)), 1, 1027, 1279, 5, N'hjkl;', 4, 3)
GO
SET IDENTITY_INSERT [dbo].[Offers] OFF
GO
SET IDENTITY_INSERT [dbo].[Pages] ON 
GO
INSERT [dbo].[Pages] ([Id], [ResourceName], [IsControlPanel], [IsFronEnd], [Url]) VALUES (1, N'Provinces', 1, 0, N'Provinces')
GO
INSERT [dbo].[Pages] ([Id], [ResourceName], [IsControlPanel], [IsFronEnd], [Url]) VALUES (2, N'Users', 1, 0, N'Users')
GO
INSERT [dbo].[Pages] ([Id], [ResourceName], [IsControlPanel], [IsFronEnd], [Url]) VALUES (3, N'Jobs', 1, 0, N'Jobs')
GO
SET IDENTITY_INSERT [dbo].[Pages] OFF
GO
SET IDENTITY_INSERT [dbo].[PagesAllow] ON 
GO
INSERT [dbo].[PagesAllow] ([Id], [IsAllowNotify], [IsAllowLog], [FkLog_Id], [FkPage_Id]) VALUES (1, 1, 1, 6, 1)
GO
INSERT [dbo].[PagesAllow] ([Id], [IsAllowNotify], [IsAllowLog], [FkLog_Id], [FkPage_Id]) VALUES (2, 1, 1, 7, 2)
GO
INSERT [dbo].[PagesAllow] ([Id], [IsAllowNotify], [IsAllowLog], [FkLog_Id], [FkPage_Id]) VALUES (3, 1, 1, 8, 3)
GO
SET IDENTITY_INSERT [dbo].[PagesAllow] OFF
GO
SET IDENTITY_INSERT [dbo].[PagesRoles] ON 
GO
INSERT [dbo].[PagesRoles] ([Id], [IsDisplay], [IsCreate], [IsUpdate], [IsDelete], [FkPage_Id], [FkRole_Id], [FkPageRoleTypes_Id], [FkLog_Id]) VALUES (18, 1, 1, 1, 1, 1, 1, 1, 37)
GO
INSERT [dbo].[PagesRoles] ([Id], [IsDisplay], [IsCreate], [IsUpdate], [IsDelete], [FkPage_Id], [FkRole_Id], [FkPageRoleTypes_Id], [FkLog_Id]) VALUES (19, 1, 1, 1, 1, 1, 1, 2, 38)
GO
INSERT [dbo].[PagesRoles] ([Id], [IsDisplay], [IsCreate], [IsUpdate], [IsDelete], [FkPage_Id], [FkRole_Id], [FkPageRoleTypes_Id], [FkLog_Id]) VALUES (20, 1, 1, 1, 1, 1, 1, 3, 39)
GO
SET IDENTITY_INSERT [dbo].[PagesRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[PagesRoleTypes] ON 
GO
INSERT [dbo].[PagesRoleTypes] ([Id], [ResourceName]) VALUES (1, N'Management')
GO
INSERT [dbo].[PagesRoleTypes] ([Id], [ResourceName]) VALUES (2, N'Notifications')
GO
INSERT [dbo].[PagesRoleTypes] ([Id], [ResourceName]) VALUES (3, N'Logs')
GO
SET IDENTITY_INSERT [dbo].[PagesRoleTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[PhoneNumbers] ON 
GO
INSERT [dbo].[PhoneNumbers] ([Id], [Number], [FKPhone_Id], [FkPhoneType_Id]) VALUES (9, N'01025249400', 1, 1)
GO
INSERT [dbo].[PhoneNumbers] ([Id], [Number], [FKPhone_Id], [FkPhoneType_Id]) VALUES (12, N'01025249401', 1, 1)
GO
INSERT [dbo].[PhoneNumbers] ([Id], [Number], [FKPhone_Id], [FkPhoneType_Id]) VALUES (13, N'01025249400', 6, 1)
GO
SET IDENTITY_INSERT [dbo].[PhoneNumbers] OFF
GO
SET IDENTITY_INSERT [dbo].[Phones] ON 
GO
INSERT [dbo].[Phones] ([Id], [Notes]) VALUES (1, NULL)
GO
INSERT [dbo].[Phones] ([Id], [Notes]) VALUES (2, NULL)
GO
INSERT [dbo].[Phones] ([Id], [Notes]) VALUES (3, NULL)
GO
SET IDENTITY_INSERT [dbo].[Phones] OFF
GO
SET IDENTITY_INSERT [dbo].[PhoneTypes] ON 
GO
INSERT [dbo].[PhoneTypes] ([Id], [ResourceName]) VALUES (1, N'Mobile')
GO
INSERT [dbo].[PhoneTypes] ([Id], [ResourceName]) VALUES (2, N'Fax')
GO
INSERT [dbo].[PhoneTypes] ([Id], [ResourceName]) VALUES (3, N'Home')
GO
SET IDENTITY_INSERT [dbo].[PhoneTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[PositionTypes] ON 
GO
INSERT [dbo].[PositionTypes] ([Id], [ResourceName]) VALUES (1, N'P1')
GO
INSERT [dbo].[PositionTypes] ([Id], [ResourceName]) VALUES (2, N'P2')
GO
INSERT [dbo].[PositionTypes] ([Id], [ResourceName]) VALUES (3, N'P3')
GO
SET IDENTITY_INSERT [dbo].[PositionTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Provinces] ON 
GO
INSERT [dbo].[Provinces] ([Id], [NameAr], [NameEn], [FKCountry_Id], [FkLog_Id]) VALUES (1, N'القاهرة', N'Cairo', 1, 2)
GO
INSERT [dbo].[Provinces] ([Id], [NameAr], [NameEn], [FKCountry_Id], [FkLog_Id]) VALUES (18, N'المنصورة', N'Mansoura', 1, 29)
GO
INSERT [dbo].[Provinces] ([Id], [NameAr], [NameEn], [FKCountry_Id], [FkLog_Id]) VALUES (19, N'الاسكندرية', N'Alx', 1, 30)
GO
SET IDENTITY_INSERT [dbo].[Provinces] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 
GO
INSERT [dbo].[Roles] ([Id], [ResourceName], [Notes], [IsControlPanel]) VALUES (1, N'Manager', NULL, 1)
GO
INSERT [dbo].[Roles] ([Id], [ResourceName], [Notes], [IsControlPanel]) VALUES (2, N'Supervisor', NULL, 1)
GO
INSERT [dbo].[Roles] ([Id], [ResourceName], [Notes], [IsControlPanel]) VALUES (3, N'Client', NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[SocialStatus] ON 
GO
INSERT [dbo].[SocialStatus] ([Id], [ResourceName]) VALUES (1, N'Single')
GO
INSERT [dbo].[SocialStatus] ([Id], [ResourceName]) VALUES (2, N'Married')
GO
INSERT [dbo].[SocialStatus] ([Id], [ResourceName]) VALUES (3, N'Widower')
GO
SET IDENTITY_INSERT [dbo].[SocialStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[States] ON 
GO
INSERT [dbo].[States] ([Id], [ResourceName], [CssClassStyle], [CssClassIcon]) VALUES (1, N'Create', N'label-success', N'fa fa-plus')
GO
INSERT [dbo].[States] ([Id], [ResourceName], [CssClassStyle], [CssClassIcon]) VALUES (2, N'Update', N'label-warning', N'fas fa-edit')
GO
INSERT [dbo].[States] ([Id], [ResourceName], [CssClassStyle], [CssClassIcon]) VALUES (3, N'Delete', N'label-danger', N'fas fa-trash-alt')
GO
SET IDENTITY_INSERT [dbo].[States] OFF
GO
SET IDENTITY_INSERT [dbo].[SubCategories] ON 
GO
INSERT [dbo].[SubCategories] ([Id], [NameAr], [NameEn], [FkLog_Id], [FkCategory_Id], [FkFile_Id]) VALUES (1, N'دفع رباعى', N'4wd', 219, 4, 82)
GO
INSERT [dbo].[SubCategories] ([Id], [NameAr], [NameEn], [FkLog_Id], [FkCategory_Id], [FkFile_Id]) VALUES (3, N'دراجة نارية', N'Motorcycle', 221, 4, 83)
GO
INSERT [dbo].[SubCategories] ([Id], [NameAr], [NameEn], [FkLog_Id], [FkCategory_Id], [FkFile_Id]) VALUES (4, N'دراجة هوائية', N'Bicycles', 222, 4, 84)
GO
SET IDENTITY_INSERT [dbo].[SubCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[SubMenus] ON 
GO
INSERT [dbo].[SubMenus] ([Id], [OrderNumber], [ClassIcon], [FkMenu_Id], [FKPage_Id]) VALUES (5, 1, N'fas fa-not-equal', 1, 1)
GO
INSERT [dbo].[SubMenus] ([Id], [OrderNumber], [ClassIcon], [FkMenu_Id], [FKPage_Id]) VALUES (6, 1, N'fas fa-not-equal', 2, 2)
GO
INSERT [dbo].[SubMenus] ([Id], [OrderNumber], [ClassIcon], [FkMenu_Id], [FKPage_Id]) VALUES (7, 3, N'fas fa-not-equal', 1, 3)
GO
SET IDENTITY_INSERT [dbo].[SubMenus] OFF
GO
SET IDENTITY_INSERT [dbo].[TechnicalSupport] ON 
GO
INSERT [dbo].[TechnicalSupport] ([Id], [UserName], [Email], [Phone], [Message], [CreateDateTime]) VALUES (1, N'ahmed Nageeb', N'Sezer.info@gmail.com', N'01025249400', N'test test ahmed ahmed test test ahmed ahmed aya mohamed ', CAST(N'2018-09-07T22:18:05.423' AS DateTime))
GO
INSERT [dbo].[TechnicalSupport] ([Id], [UserName], [Email], [Phone], [Message], [CreateDateTime]) VALUES (2, N'ahmed Nageeb', N'Sezer.info@gmail.com', N'01025249400', N'test test ahmed ahmed test te


st ahmed ahmed aya mohamed ', CAST(N'2018-09-07T22:51:17.983' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[TechnicalSupport] OFF
GO
SET IDENTITY_INSERT [dbo].[TechnicalSupportRead] ON 
GO
INSERT [dbo].[TechnicalSupportRead] ([Id], [FkTechnicalSupport_Id], [FkUser_Id]) VALUES (1, 1, 1)
GO
INSERT [dbo].[TechnicalSupportRead] ([Id], [FkTechnicalSupport_Id], [FkUser_Id]) VALUES (2, 2, 1)
GO
SET IDENTITY_INSERT [dbo].[TechnicalSupportRead] OFF
GO
INSERT [dbo].[UserInformation] ([Id], [FirstName], [MediumName], [LastName], [NationalId], [BirthDate], [FkImage_Id], [FKAddress_Id], [FkNationality_Id], [FKGender_Id], [FKSocialStatus_Id], [FKJob_Id], [FKLanguage_Id], [FkPhone_Id], [FkFollowing_Id]) VALUES (1, N'Ahmed', N'Nageeb', N'Mahmoud', N'123654879', CAST(N'1997-02-04' AS Date), 1, 1, 1, 1, 1, 4, 1, 1, 1)
GO
INSERT [dbo].[UserInformation] ([Id], [FirstName], [MediumName], [LastName], [NationalId], [BirthDate], [FkImage_Id], [FKAddress_Id], [FkNationality_Id], [FKGender_Id], [FKSocialStatus_Id], [FKJob_Id], [FKLanguage_Id], [FkPhone_Id], [FkFollowing_Id]) VALUES (2, N'Aya', NULL, N'Nageeb', N'12121212654', NULL, 2, 2, NULL, NULL, NULL, 1, 2, 2, 2)
GO
INSERT [dbo].[UserInformation] ([Id], [FirstName], [MediumName], [LastName], [NationalId], [BirthDate], [FkImage_Id], [FKAddress_Id], [FkNationality_Id], [FKGender_Id], [FKSocialStatus_Id], [FKJob_Id], [FKLanguage_Id], [FkPhone_Id], [FkFollowing_Id]) VALUES (3, N'xxqq1', NULL, N'qq', NULL, NULL, 27, 3, NULL, NULL, NULL, NULL, 3, 3, 3)
GO
SET IDENTITY_INSERT [dbo].[UserLogins] ON 
GO
INSERT [dbo].[UserLogins] ([Id], [LoginDate], [IsSuccess], [FkUser_Id]) VALUES (1, CAST(N'2018-08-19T17:54:54.117' AS DateTime), 1, 1)
GO
INSERT [dbo].[UserLogins] ([Id], [LoginDate], [IsSuccess], [FkUser_Id]) VALUES (2, CAST(N'2018-08-19T17:55:11.110' AS DateTime), 1, 1)
GO
INSERT [dbo].[UserLogins] ([Id], [LoginDate], [IsSuccess], [FkUser_Id]) VALUES (3, CAST(N'2018-08-19T17:56:18.620' AS DateTime), 1, 1)
GO
SET IDENTITY_INSERT [dbo].[UserLogins] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRoles] ON 
GO
INSERT [dbo].[UserRoles] ([Id], [FkUser_Id], [FkRole_Id]) VALUES (1, 1, 1)
GO
INSERT [dbo].[UserRoles] ([Id], [FkUser_Id], [FkRole_Id]) VALUES (2, 1, 2)
GO
INSERT [dbo].[UserRoles] ([Id], [FkUser_Id], [FkRole_Id]) VALUES (3, 2, 3)
GO
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 
GO
INSERT [dbo].[Users] ([Id], [UserName], [Email], [Password], [IsBlocked], [CreateDate], [Serial], [FkLog_Id]) VALUES (1, N'ahmed', N'ahmed@gmail.com', N'123456', 0, CAST(N'2012-12-01T00:00:00.000' AS DateTime), N'ahmed1', 105)
GO
INSERT [dbo].[Users] ([Id], [UserName], [Email], [Password], [IsBlocked], [CreateDate], [Serial], [FkLog_Id]) VALUES (2, N'AYa', N'sezer.info.0@gmail.com', N'123456', 0, CAST(N'2018-08-26T23:41:08.133' AS DateTime), N'69680b54-2c75-4235-a297-5bd326eb2b30', 106)
GO
INSERT [dbo].[Users] ([Id], [UserName], [Email], [Password], [IsBlocked], [CreateDate], [Serial], [FkLog_Id]) VALUES (3, N'ahmedw', N'ahmednageeb@gmail.com', N'123456', 0, CAST(N'2018-08-30T16:57:19.937' AS DateTime), N'dfc43fcf-a4e8-4a25-b97a-d1bf76d46897', 124)
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Email]    Script Date: 12/26/2018 7:50:47 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Serial]    Script Date: 12/26/2018 7:50:47 PM ******/
CREATE NONCLUSTERED INDEX [Serial] ON [dbo].[Users]
(
	[Serial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserName]    Script Date: 12/26/2018 7:50:47 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserName] ON [dbo].[Users]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_Addresses_Countries] FOREIGN KEY([FKCountry_Id])
REFERENCES [dbo].[Countries] ([Id])
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_Addresses_Countries]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_Addresses_Provinces] FOREIGN KEY([FkProvince_Id])
REFERENCES [dbo].[Provinces] ([Id])
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_Addresses_Provinces]
GO
ALTER TABLE [dbo].[AdFavorites]  WITH CHECK ADD  CONSTRAINT [FK_AdFavorites_Ads] FOREIGN KEY([FKAd_Id])
REFERENCES [dbo].[Ads] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AdFavorites] CHECK CONSTRAINT [FK_AdFavorites_Ads]
GO
ALTER TABLE [dbo].[AdFavorites]  WITH CHECK ADD  CONSTRAINT [FK_AdFavorites_Users] FOREIGN KEY([FkUser_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[AdFavorites] CHECK CONSTRAINT [FK_AdFavorites_Users]
GO
ALTER TABLE [dbo].[Ads]  WITH CHECK ADD  CONSTRAINT [FK_Ads_Albums] FOREIGN KEY([FkAlbum_Id])
REFERENCES [dbo].[Albums] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ads] CHECK CONSTRAINT [FK_Ads_Albums]
GO
ALTER TABLE [dbo].[Ads]  WITH CHECK ADD  CONSTRAINT [FK_Ads_Categories] FOREIGN KEY([FkCategory_Id])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Ads] CHECK CONSTRAINT [FK_Ads_Categories]
GO
ALTER TABLE [dbo].[Ads]  WITH CHECK ADD  CONSTRAINT [FK_Ads_Location] FOREIGN KEY([FkLocation_Id])
REFERENCES [dbo].[Location] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ads] CHECK CONSTRAINT [FK_Ads_Location]
GO
ALTER TABLE [dbo].[Ads]  WITH CHECK ADD  CONSTRAINT [FK_Ads_Logs] FOREIGN KEY([FkLog_Id])
REFERENCES [dbo].[Logs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ads] CHECK CONSTRAINT [FK_Ads_Logs]
GO
ALTER TABLE [dbo].[Ads]  WITH CHECK ADD  CONSTRAINT [FK_Ads_SubCategories] FOREIGN KEY([FkSubCategory_Id])
REFERENCES [dbo].[SubCategories] ([Id])
GO
ALTER TABLE [dbo].[Ads] CHECK CONSTRAINT [FK_Ads_SubCategories]
GO
ALTER TABLE [dbo].[Ads]  WITH CHECK ADD  CONSTRAINT [FK_Ads_Users] FOREIGN KEY([FkUser_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Ads] CHECK CONSTRAINT [FK_Ads_Users]
GO
ALTER TABLE [dbo].[AdsSlider]  WITH CHECK ADD  CONSTRAINT [FK_AdsSlider_Files] FOREIGN KEY([FkFile_Id])
REFERENCES [dbo].[Files] ([Id])
GO
ALTER TABLE [dbo].[AdsSlider] CHECK CONSTRAINT [FK_AdsSlider_Files]
GO
ALTER TABLE [dbo].[AdsSlider]  WITH CHECK ADD  CONSTRAINT [FK_AdsSlider_Logs] FOREIGN KEY([FkLog_Id])
REFERENCES [dbo].[Logs] ([Id])
GO
ALTER TABLE [dbo].[AdsSlider] CHECK CONSTRAINT [FK_AdsSlider_Logs]
GO
ALTER TABLE [dbo].[AdsSlider]  WITH CHECK ADD  CONSTRAINT [FK_AdsSlider_PositionTypes] FOREIGN KEY([FkPositionType_Id])
REFERENCES [dbo].[PositionTypes] ([Id])
GO
ALTER TABLE [dbo].[AdsSlider] CHECK CONSTRAINT [FK_AdsSlider_PositionTypes]
GO
ALTER TABLE [dbo].[AlbumFiles]  WITH CHECK ADD  CONSTRAINT [FK_AlbumFiles_Albums] FOREIGN KEY([FkAlbum_Id])
REFERENCES [dbo].[Albums] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AlbumFiles] CHECK CONSTRAINT [FK_AlbumFiles_Albums]
GO
ALTER TABLE [dbo].[AlbumFiles]  WITH CHECK ADD  CONSTRAINT [FK_AlbumFiles_Files] FOREIGN KEY([FkFile_Id])
REFERENCES [dbo].[Files] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AlbumFiles] CHECK CONSTRAINT [FK_AlbumFiles_Files]
GO
ALTER TABLE [dbo].[AppsInformation]  WITH CHECK ADD  CONSTRAINT [FK_AppsInformation_Logs] FOREIGN KEY([FkLog_Id])
REFERENCES [dbo].[Logs] ([Id])
GO
ALTER TABLE [dbo].[AppsInformation] CHECK CONSTRAINT [FK_AppsInformation_Logs]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_Categories_Logs] FOREIGN KEY([FkLog_Id])
REFERENCES [dbo].[Logs] ([Id])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_Categories_Logs]
GO
ALTER TABLE [dbo].[Countries]  WITH CHECK ADD  CONSTRAINT [FK_Countries_Files] FOREIGN KEY([FkFile_Id])
REFERENCES [dbo].[Files] ([Id])
GO
ALTER TABLE [dbo].[Countries] CHECK CONSTRAINT [FK_Countries_Files]
GO
ALTER TABLE [dbo].[Countries]  WITH CHECK ADD  CONSTRAINT [FK_Countries_Logs] FOREIGN KEY([FkLog_Id])
REFERENCES [dbo].[Logs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Countries] CHECK CONSTRAINT [FK_Countries_Logs]
GO
ALTER TABLE [dbo].[Files]  WITH CHECK ADD  CONSTRAINT [FK_Files_FileTypes] FOREIGN KEY([FkFileType_Id])
REFERENCES [dbo].[FileTypes] ([Id])
GO
ALTER TABLE [dbo].[Files] CHECK CONSTRAINT [FK_Files_FileTypes]
GO
ALTER TABLE [dbo].[Files]  WITH CHECK ADD  CONSTRAINT [FK_Images_AppInformation] FOREIGN KEY([FKAppInformation_Id])
REFERENCES [dbo].[AppsInformation] ([Id])
GO
ALTER TABLE [dbo].[Files] CHECK CONSTRAINT [FK_Images_AppInformation]
GO
ALTER TABLE [dbo].[Histories]  WITH CHECK ADD  CONSTRAINT [FK_Histories_Logs] FOREIGN KEY([FkLog_Id])
REFERENCES [dbo].[Logs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Histories] CHECK CONSTRAINT [FK_Histories_Logs]
GO
ALTER TABLE [dbo].[Histories]  WITH CHECK ADD  CONSTRAINT [FK_Histories_Pages] FOREIGN KEY([FKPage_Id])
REFERENCES [dbo].[Pages] ([Id])
GO
ALTER TABLE [dbo].[Histories] CHECK CONSTRAINT [FK_Histories_Pages]
GO
ALTER TABLE [dbo].[Histories]  WITH CHECK ADD  CONSTRAINT [FK_Histories_States] FOREIGN KEY([FkState_Id])
REFERENCES [dbo].[States] ([Id])
GO
ALTER TABLE [dbo].[Histories] CHECK CONSTRAINT [FK_Histories_States]
GO
ALTER TABLE [dbo].[Histories]  WITH CHECK ADD  CONSTRAINT [FK_Histories_Users] FOREIGN KEY([FkUser_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Histories] CHECK CONSTRAINT [FK_Histories_Users]
GO
ALTER TABLE [dbo].[HistoryDetails]  WITH CHECK ADD  CONSTRAINT [FK_HistoryDetails_Histories] FOREIGN KEY([FkHistory_Id])
REFERENCES [dbo].[Histories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HistoryDetails] CHECK CONSTRAINT [FK_HistoryDetails_Histories]
GO
ALTER TABLE [dbo].[Jobs]  WITH CHECK ADD  CONSTRAINT [FK_Jobs_Logs] FOREIGN KEY([FkLog_Id])
REFERENCES [dbo].[Logs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Jobs] CHECK CONSTRAINT [FK_Jobs_Logs]
GO
ALTER TABLE [dbo].[LanguageUsing]  WITH CHECK ADD  CONSTRAINT [FK_LanguageUsing_Languages] FOREIGN KEY([FKLanguage_Id])
REFERENCES [dbo].[Languages] ([Id])
GO
ALTER TABLE [dbo].[LanguageUsing] CHECK CONSTRAINT [FK_LanguageUsing_Languages]
GO
ALTER TABLE [dbo].[LanguageUsing]  WITH CHECK ADD  CONSTRAINT [FK_LanguageUsing_LanguageTypes] FOREIGN KEY([FKLanguageType_Id])
REFERENCES [dbo].[LanguageTypes] ([Id])
GO
ALTER TABLE [dbo].[LanguageUsing] CHECK CONSTRAINT [FK_LanguageUsing_LanguageTypes]
GO
ALTER TABLE [dbo].[Nationalities]  WITH CHECK ADD  CONSTRAINT [FK_Nationalities_Logs] FOREIGN KEY([FkLog_Id])
REFERENCES [dbo].[Logs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Nationalities] CHECK CONSTRAINT [FK_Nationalities_Logs]
GO
ALTER TABLE [dbo].[NotificationsIsRead]  WITH CHECK ADD  CONSTRAINT [FK_NotificationsIsRead_Histories] FOREIGN KEY([FkHistory_Id])
REFERENCES [dbo].[Histories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NotificationsIsRead] CHECK CONSTRAINT [FK_NotificationsIsRead_Histories]
GO
ALTER TABLE [dbo].[NotificationsIsRead]  WITH CHECK ADD  CONSTRAINT [FK_NotificationsIsRead_Users] FOREIGN KEY([FKUser_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[NotificationsIsRead] CHECK CONSTRAINT [FK_NotificationsIsRead_Users]
GO
ALTER TABLE [dbo].[OfferFavorites]  WITH CHECK ADD  CONSTRAINT [FK_OfferFavorites_Offers] FOREIGN KEY([FKOffer_Id])
REFERENCES [dbo].[Offers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OfferFavorites] CHECK CONSTRAINT [FK_OfferFavorites_Offers]
GO
ALTER TABLE [dbo].[OfferFavorites]  WITH CHECK ADD  CONSTRAINT [FK_OfferFavorites_Users] FOREIGN KEY([FkUser_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[OfferFavorites] CHECK CONSTRAINT [FK_OfferFavorites_Users]
GO
ALTER TABLE [dbo].[Offers]  WITH CHECK ADD  CONSTRAINT [FK_Offers_Albums] FOREIGN KEY([FkAlbum_Id])
REFERENCES [dbo].[Albums] ([Id])
GO
ALTER TABLE [dbo].[Offers] CHECK CONSTRAINT [FK_Offers_Albums]
GO
ALTER TABLE [dbo].[Offers]  WITH CHECK ADD  CONSTRAINT [FK_Offers_Categories] FOREIGN KEY([FkCategory_Id])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Offers] CHECK CONSTRAINT [FK_Offers_Categories]
GO
ALTER TABLE [dbo].[Offers]  WITH CHECK ADD  CONSTRAINT [FK_Offers_Logs] FOREIGN KEY([FkLog_Id])
REFERENCES [dbo].[Logs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Offers] CHECK CONSTRAINT [FK_Offers_Logs]
GO
ALTER TABLE [dbo].[Offers]  WITH CHECK ADD  CONSTRAINT [FK_Offers_SubCategories] FOREIGN KEY([FkSubCategory_Id])
REFERENCES [dbo].[SubCategories] ([Id])
GO
ALTER TABLE [dbo].[Offers] CHECK CONSTRAINT [FK_Offers_SubCategories]
GO
ALTER TABLE [dbo].[PagesAllow]  WITH CHECK ADD  CONSTRAINT [FK_PagesAllow_Logs] FOREIGN KEY([FkLog_Id])
REFERENCES [dbo].[Logs] ([Id])
GO
ALTER TABLE [dbo].[PagesAllow] CHECK CONSTRAINT [FK_PagesAllow_Logs]
GO
ALTER TABLE [dbo].[PagesAllow]  WITH CHECK ADD  CONSTRAINT [FK_PagesAllow_Pages] FOREIGN KEY([FkPage_Id])
REFERENCES [dbo].[Pages] ([Id])
GO
ALTER TABLE [dbo].[PagesAllow] CHECK CONSTRAINT [FK_PagesAllow_Pages]
GO
ALTER TABLE [dbo].[PagesRoles]  WITH CHECK ADD  CONSTRAINT [FK_PagesRoles_Logs] FOREIGN KEY([FkLog_Id])
REFERENCES [dbo].[Logs] ([Id])
GO
ALTER TABLE [dbo].[PagesRoles] CHECK CONSTRAINT [FK_PagesRoles_Logs]
GO
ALTER TABLE [dbo].[PagesRoles]  WITH CHECK ADD  CONSTRAINT [FK_PagesRoles_Pages] FOREIGN KEY([FkPage_Id])
REFERENCES [dbo].[Pages] ([Id])
GO
ALTER TABLE [dbo].[PagesRoles] CHECK CONSTRAINT [FK_PagesRoles_Pages]
GO
ALTER TABLE [dbo].[PagesRoles]  WITH CHECK ADD  CONSTRAINT [FK_PagesRoles_PagesRoles] FOREIGN KEY([Id])
REFERENCES [dbo].[PagesRoles] ([Id])
GO
ALTER TABLE [dbo].[PagesRoles] CHECK CONSTRAINT [FK_PagesRoles_PagesRoles]
GO
ALTER TABLE [dbo].[PagesRoles]  WITH CHECK ADD  CONSTRAINT [FK_PagesRoles_PagesRoleTypes] FOREIGN KEY([FkPageRoleTypes_Id])
REFERENCES [dbo].[PagesRoleTypes] ([Id])
GO
ALTER TABLE [dbo].[PagesRoles] CHECK CONSTRAINT [FK_PagesRoles_PagesRoleTypes]
GO
ALTER TABLE [dbo].[PagesRoles]  WITH CHECK ADD  CONSTRAINT [FK_PagesRoles_Roles] FOREIGN KEY([FkRole_Id])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[PagesRoles] CHECK CONSTRAINT [FK_PagesRoles_Roles]
GO
ALTER TABLE [dbo].[PhoneNumbers]  WITH CHECK ADD  CONSTRAINT [FK_PhoneNumbers_PagesRoleTypes] FOREIGN KEY([FkPhoneType_Id])
REFERENCES [dbo].[PhoneTypes] ([Id])
GO
ALTER TABLE [dbo].[PhoneNumbers] CHECK CONSTRAINT [FK_PhoneNumbers_PagesRoleTypes]
GO
ALTER TABLE [dbo].[PhoneNumbers]  WITH CHECK ADD  CONSTRAINT [FK_PhoneNumbers_Phones] FOREIGN KEY([FKPhone_Id])
REFERENCES [dbo].[Phones] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhoneNumbers] CHECK CONSTRAINT [FK_PhoneNumbers_Phones]
GO
ALTER TABLE [dbo].[Provinces]  WITH CHECK ADD  CONSTRAINT [FK_Provinces_Countries] FOREIGN KEY([FKCountry_Id])
REFERENCES [dbo].[Countries] ([Id])
GO
ALTER TABLE [dbo].[Provinces] CHECK CONSTRAINT [FK_Provinces_Countries]
GO
ALTER TABLE [dbo].[Provinces]  WITH CHECK ADD  CONSTRAINT [FK_Provinces_Logs] FOREIGN KEY([FkLog_Id])
REFERENCES [dbo].[Logs] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Provinces] CHECK CONSTRAINT [FK_Provinces_Logs]
GO
ALTER TABLE [dbo].[SubCategories]  WITH CHECK ADD  CONSTRAINT [FK_SubCategories_Categories] FOREIGN KEY([FkCategory_Id])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubCategories] CHECK CONSTRAINT [FK_SubCategories_Categories]
GO
ALTER TABLE [dbo].[SubCategories]  WITH CHECK ADD  CONSTRAINT [FK_SubCategories_Files] FOREIGN KEY([FkFile_Id])
REFERENCES [dbo].[Files] ([Id])
GO
ALTER TABLE [dbo].[SubCategories] CHECK CONSTRAINT [FK_SubCategories_Files]
GO
ALTER TABLE [dbo].[SubCategories]  WITH CHECK ADD  CONSTRAINT [FK_SubCategories_Logs] FOREIGN KEY([FkLog_Id])
REFERENCES [dbo].[Logs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubCategories] CHECK CONSTRAINT [FK_SubCategories_Logs]
GO
ALTER TABLE [dbo].[SubMenus]  WITH CHECK ADD  CONSTRAINT [FK_SubMenu_Menu] FOREIGN KEY([FkMenu_Id])
REFERENCES [dbo].[Menus] ([Id])
GO
ALTER TABLE [dbo].[SubMenus] CHECK CONSTRAINT [FK_SubMenu_Menu]
GO
ALTER TABLE [dbo].[SubMenus]  WITH CHECK ADD  CONSTRAINT [FK_SubMenu_Pages] FOREIGN KEY([FKPage_Id])
REFERENCES [dbo].[Pages] ([Id])
GO
ALTER TABLE [dbo].[SubMenus] CHECK CONSTRAINT [FK_SubMenu_Pages]
GO
ALTER TABLE [dbo].[TechnicalSupportRead]  WITH CHECK ADD  CONSTRAINT [FK_TechnicalSupportRead_TechnicalSupport] FOREIGN KEY([FkTechnicalSupport_Id])
REFERENCES [dbo].[TechnicalSupport] ([Id])
GO
ALTER TABLE [dbo].[TechnicalSupportRead] CHECK CONSTRAINT [FK_TechnicalSupportRead_TechnicalSupport]
GO
ALTER TABLE [dbo].[TechnicalSupportRead]  WITH CHECK ADD  CONSTRAINT [FK_TechnicalSupportRead_Users] FOREIGN KEY([FkUser_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[TechnicalSupportRead] CHECK CONSTRAINT [FK_TechnicalSupportRead_Users]
GO
ALTER TABLE [dbo].[UserInformation]  WITH CHECK ADD  CONSTRAINT [FK_UserInformation_Addresses] FOREIGN KEY([FKAddress_Id])
REFERENCES [dbo].[Addresses] ([Id])
GO
ALTER TABLE [dbo].[UserInformation] CHECK CONSTRAINT [FK_UserInformation_Addresses]
GO
ALTER TABLE [dbo].[UserInformation]  WITH CHECK ADD  CONSTRAINT [FK_UserInformation_Following] FOREIGN KEY([FkFollowing_Id])
REFERENCES [dbo].[Following] ([Id])
GO
ALTER TABLE [dbo].[UserInformation] CHECK CONSTRAINT [FK_UserInformation_Following]
GO
ALTER TABLE [dbo].[UserInformation]  WITH CHECK ADD  CONSTRAINT [FK_UserInformation_Genders] FOREIGN KEY([FKGender_Id])
REFERENCES [dbo].[Genders] ([Id])
GO
ALTER TABLE [dbo].[UserInformation] CHECK CONSTRAINT [FK_UserInformation_Genders]
GO
ALTER TABLE [dbo].[UserInformation]  WITH CHECK ADD  CONSTRAINT [FK_UserInformation_Images] FOREIGN KEY([FkImage_Id])
REFERENCES [dbo].[Files] ([Id])
GO
ALTER TABLE [dbo].[UserInformation] CHECK CONSTRAINT [FK_UserInformation_Images]
GO
ALTER TABLE [dbo].[UserInformation]  WITH CHECK ADD  CONSTRAINT [FK_UserInformation_Jobs] FOREIGN KEY([FKJob_Id])
REFERENCES [dbo].[Jobs] ([Id])
GO
ALTER TABLE [dbo].[UserInformation] CHECK CONSTRAINT [FK_UserInformation_Jobs]
GO
ALTER TABLE [dbo].[UserInformation]  WITH CHECK ADD  CONSTRAINT [FK_UserInformation_Languages] FOREIGN KEY([FKLanguage_Id])
REFERENCES [dbo].[Languages] ([Id])
GO
ALTER TABLE [dbo].[UserInformation] CHECK CONSTRAINT [FK_UserInformation_Languages]
GO
ALTER TABLE [dbo].[UserInformation]  WITH CHECK ADD  CONSTRAINT [FK_UserInformation_Nationalities] FOREIGN KEY([FkNationality_Id])
REFERENCES [dbo].[Nationalities] ([Id])
GO
ALTER TABLE [dbo].[UserInformation] CHECK CONSTRAINT [FK_UserInformation_Nationalities]
GO
ALTER TABLE [dbo].[UserInformation]  WITH CHECK ADD  CONSTRAINT [FK_UserInformation_Phones] FOREIGN KEY([FkPhone_Id])
REFERENCES [dbo].[Phones] ([Id])
GO
ALTER TABLE [dbo].[UserInformation] CHECK CONSTRAINT [FK_UserInformation_Phones]
GO
ALTER TABLE [dbo].[UserInformation]  WITH CHECK ADD  CONSTRAINT [FK_UserInformation_SocialStatuses] FOREIGN KEY([FKSocialStatus_Id])
REFERENCES [dbo].[SocialStatus] ([Id])
GO
ALTER TABLE [dbo].[UserInformation] CHECK CONSTRAINT [FK_UserInformation_SocialStatuses]
GO
ALTER TABLE [dbo].[UserInformation]  WITH CHECK ADD  CONSTRAINT [FK_UserInformation_Users] FOREIGN KEY([Id])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserInformation] CHECK CONSTRAINT [FK_UserInformation_Users]
GO
ALTER TABLE [dbo].[UserLogins]  WITH CHECK ADD  CONSTRAINT [FK_UserLogins_Users] FOREIGN KEY([FkUser_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserLogins] CHECK CONSTRAINT [FK_UserLogins_Users]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles] FOREIGN KEY([FkRole_Id])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users] FOREIGN KEY([FkUser_Id])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Logs] FOREIGN KEY([FkLog_Id])
REFERENCES [dbo].[Logs] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Logs]
GO
ALTER TABLE [dbo].[UsersFollowing]  WITH CHECK ADD  CONSTRAINT [FK_Followers_Users] FOREIGN KEY([FkUser_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UsersFollowing] CHECK CONSTRAINT [FK_Followers_Users]
GO
ALTER TABLE [dbo].[UsersFollowing]  WITH CHECK ADD  CONSTRAINT [FK_UsersFollowing_Users] FOREIGN KEY([FkFollowing_Id])
REFERENCES [dbo].[Following] ([Id])
GO
ALTER TABLE [dbo].[UsersFollowing] CHECK CONSTRAINT [FK_UsersFollowing_Users]
GO
ALTER TABLE [dbo].[UsersPurchasesAds]  WITH CHECK ADD  CONSTRAINT [FK_UsersPurchases_Ads] FOREIGN KEY([FkAd_Id])
REFERENCES [dbo].[Ads] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsersPurchasesAds] CHECK CONSTRAINT [FK_UsersPurchases_Ads]
GO
ALTER TABLE [dbo].[UsersPurchasesAds]  WITH CHECK ADD  CONSTRAINT [FK_UsersPurchases_Users] FOREIGN KEY([FkUser_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UsersPurchasesAds] CHECK CONSTRAINT [FK_UsersPurchases_Users]
GO
ALTER TABLE [dbo].[UsersPurchasesOffers]  WITH CHECK ADD  CONSTRAINT [FK_UsersPurchasesOffers_Offers] FOREIGN KEY([FkOffer_Id])
REFERENCES [dbo].[Offers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsersPurchasesOffers] CHECK CONSTRAINT [FK_UsersPurchasesOffers_Offers]
GO
ALTER TABLE [dbo].[UsersPurchasesOffers]  WITH CHECK ADD  CONSTRAINT [FK_UsersPurchasesOffers_Users] FOREIGN KEY([FkUser_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UsersPurchasesOffers] CHECK CONSTRAINT [FK_UsersPurchasesOffers_Users]
GO
ALTER TABLE [dbo].[ViewerAds]  WITH CHECK ADD  CONSTRAINT [FK_AdViewer_Ads] FOREIGN KEY([FKAd_Id])
REFERENCES [dbo].[Ads] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ViewerAds] CHECK CONSTRAINT [FK_AdViewer_Ads]
GO
ALTER TABLE [dbo].[ViewerAds]  WITH CHECK ADD  CONSTRAINT [FK_AdViewer_Users] FOREIGN KEY([FkUser_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ViewerAds] CHECK CONSTRAINT [FK_AdViewer_Users]
GO
ALTER TABLE [dbo].[ViewerOffers]  WITH CHECK ADD  CONSTRAINT [FK_ViewerOffers_Offers] FOREIGN KEY([FKOffer_Id])
REFERENCES [dbo].[Offers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ViewerOffers] CHECK CONSTRAINT [FK_ViewerOffers_Offers]
GO
ALTER TABLE [dbo].[ViewerOffers]  WITH CHECK ADD  CONSTRAINT [FK_ViewerOffers_Users] FOREIGN KEY([FkUser_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ViewerOffers] CHECK CONSTRAINT [FK_ViewerOffers_Users]
GO
/****** Object:  StoredProcedure [dbo].[InsertLog]    Script Date: 12/26/2018 7:50:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  proc [dbo].[InsertLog]
as 
begin 
insert Logs(CreateDateTime)values (GETDATE())
return scope_identity();
end
GO
/****** Object:  StoredProcedure [dbo].[InsertPage]    Script Date: 12/26/2018 7:50:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[InsertPage] 
@ResourceName nvarchar(50),
@IsControlPanel bit ,
@IsFronEnd bit
as 
begin 
insert Pages(ResourceName,Url,IsControlPanel,IsFronEnd)values (@ResourceName,@ResourceName,@IsControlPanel,@IsFronEnd)
return scope_identity();
end
GO
/****** Object:  StoredProcedure [dbo].[InsertPageRles]    Script Date: 12/26/2018 7:50:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  proc [dbo].[InsertPageRles] 
@FkPage_Id int,
@FkPageRoleTypes_Id int ,
@FkRole_Id int,
@FkLog_Id int
as 
begin 
insert PagesRoles(FkPage_Id,FkPageRoleTypes_Id,FkRole_Id,FkLog_Id,IsCreate,IsDelete,IsDisplay,IsUpdate)values (@FkPage_Id,@FkPageRoleTypes_Id,@FkRole_Id,@FkLog_Id,1,1,1,1)
return scope_identity();
end
GO
USE [master]
GO
